[user]
	name = Tobias Perelstein
	email = 5562156+tobocop2@users.noreply.github.com
[alias]
    s = status -s
    lg = log --oneline --decorate --all --graph
    d = diff --stat
    tags = for-each-ref --sort=taggerdate --format '%(refname) %(taggerdate)' refs/tags
    diff = diff --color-moved
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    update = "!git fetch origin && git merge origin/master"
    temp = "!branch=$(git branch-name) && git checkout origin/master && git checkout -b $branch-temp"
    merge-squash = "!git merge --no-commit --squash $(git branch-name | sed -e 's/-temp$//') && git reset && git commit -a"
    replace = "!branch=$(git branch-name) && git branch -D ($branch | sed -e 's/-temp$') && git checkout -b ($branch | sed -e 's/-temp$') && git branch -D $branch"
    force-update = "!branch=$(git branch-name) && git push -f origin $branch"
    squash = "!git update && git temp && git merge-squash && git replace && git force-update"
[push]
	default = simple
[core]
	editor = nvim
[difftool]
   difftool = vimdiff

[difftool "vimdiff"]
	path = nvim

[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
